@font-face {
    font-family: "Socialico";
    src: url('Socialico.ttf'), url('Socialico.ttf');
    /* IE */
}

::selection{
/*background-color: #e74c3c;*/
    background: #FF9A55;
    color: #fff;
}

body {
  font-family: 'Raleway', sans-serif;
  padding-top: 40px;
  font-size: 18px;
  margin:0;
}

.navbar-default .navbar-right>li.social>a{
  font-family: "Socialico";
  font-size: 32px;
}

.navbar-default .navbar-brand {
    color: #e74c3c;
    background-color: transparent;
    font-family: 'Anton', sans-serif;
    text-shadow: 2px 2px 2px #333;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #e74c3c;
    background-color: transparent;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent; 
    border-color: transparent; 
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #e74c3c;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #e74c3c;
    background-color: #e7e7e7;
}

.navbar-default {
    background-color: #34495e;
    border: 1px solid #2c3e50;
    font-size: 15px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav li>a:focus, .navbar-default .navbar-nav li>a:hover {
    color: #fc5;
    background-color: transparent;
}

.navbar-nav>li>.dropdown-menu {
    width: 250px;
    background: #f7f7f7;
}

.form-signup, .form-signup-extend {
  max-width: 375px;
      padding: 70px 50px;
  margin: 125px auto 0;
  background: #f7f7f7;
  border-radius: 5px;
  box-shadow: 2px 2px 15px #999;
}

#job-create{
  margin-top: 75px;
}

.form-job-create {
  max-width: 550px;
      padding: 70px 50px;
  margin: 50px auto 125px;
  background: #f7f7f7;
  border-radius: 5px;
  box-shadow: 2px 2px 15px #999;
}

.form-job-create textarea{
  resize: vertical;
}

.form-signin {
  max-width: 375px;
      padding: 40px 20px;
  background: #f7f7f7;
  border-radius: 5px;
}

.form-signin button, .form-signup-extend button{
  margin-top: 10px;
}

.form-job-create button{
  margin-top: 25px;
}

.form-signin .btn-group-lg>.btn, .btn-lg, .form-signup .btn-group-lg>.btn, .form-signup-extend .btn-group-lg>.btn, .form-job-create .btn-group-lg>.btn, .btn-lg, .login .btn-login, .registerBox .btn-register {
    padding: 5px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 3px;
    background-color: #e74c3c;
    border-color: #c0392b;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.form-signin .btn-primary:hover, .form-signup .btn-primary:hover, .form-signup-extend .btn-primary:hover, .form-job-create .btn-primary:hover, .login .btn-login:hover, .registerBox .btn-register:hover {
    color: #fff;
    background-color: #34495e;
    border-color: #34495e;
}

.form-signup .form-signup-heading, .form-signup-extend .form-signup-heading{
  text-align: center;
}

.form-signup .form-signup-heading,
.form-signup .checkbox {
  margin-bottom: 10px;
}
.form-signup .checkbox {
  font-weight: normal;
}
.form-signup .form-control, .form-signup-extend .form-control, .form-job-create .form-control, .login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
}
.form-signup .form-control:focus, .form-signup-extend .form-control:focus, .login .form-control:focus {
  z-index: 2;
  border-color: #34495E;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(52, 73, 94,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(52, 73, 94,.6);
}

.form-signup input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signup input[type="password"], .form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signup select{
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.login .box .form input[type="text"]{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.login .box .form input[type="password"]{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*Sign In Modal*/

/*  Shake animation  */

@charset "UTF-8";

.animated {
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.hinges {
  -webkit-animation-duration: 2s;
     -moz-animation-duration: 2s;
       -o-animation-duration: 2s;
          animation-duration: 2s;
}

.animated.slow {
  -webkit-animation-duration: 3s;
     -moz-animation-duration: 3s;
       -o-animation-duration: 3s;
          animation-duration: 3s;
}

.animated.snail {
  -webkit-animation-duration: 4s;
     -moz-animation-duration: 4s;
       -o-animation-duration: 4s;
          animation-duration: 4s;
}

@-webkit-keyframes shake {
  0%, 100% {-webkit-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
  0%, 100% {-moz-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
  0%, 100% {-o-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
}

.modal-content{
  background: #f7f7f7;
    border-radius: 5px;
        padding: 15px 50px;
}

.login .modal-dialog{
    max-width: 375px;
}
.login .modal-footer{
    border-top: 0;
    margin-top: 0px;
    padding: 10px 20px 20px;
}
.login .modal-header {
    border: 0 none;
    padding: 15px 0;
/*     padding: 11px 15px; */
}

.modal-header img{
  width: 150px;
}

.login .modal-body{
/*     background-color: #eeeeee; */
}
.login .division {
    float: none;
    margin: 0 auto 18px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}
.login .division .line {
    border-top: 1px solid #DFDFDF;
    position: absolute;
    top: 10px;
    width: 34%;
}
.login .division .line.l {
    left: 0;
}
.login .division .line.r {
    right: 0;
}
.login .division span {
    color: #424242;
    font-size: 17px;
}
#get-social .social {
    float: none;
    margin: 30px auto;
    text-align: center;
}

#get-social .social .circle{
    background-color: #EEEEEE;
    color: #FFFFFF;
    border-radius: 100px;
    display: inline-block;
    margin: 0 5px;
    padding: 10px;
    width: 45px;
    height: 45px;
}
#get-social .social .circle .fa{
    font-size: 16px;
}
#get-social .social .facebook{
    background-color: #6E83CD;
    color: #FFFFFF;
}
#get-social .social .google{
    background-color: #FF7566;
}
#get-social .social .github{
    background-color: #4D4D4d;
}
#get-social .facebook:hover{
    background-color: #455CA8;
}
#get-social .google:hover{
    background-color: #F74933;
}
#get-social .github:hover{
    background-color: #403A3A;
}
.login .forgot {
    color: #797979;
    margin-left: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
/*.login .btn-login, .registerBox .btn-register{
    border-radius: 3px;
    background-color: #e74c3c;
    border-color: #c0392b;
    border-width: 0;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    padding: 15px 50px;
    text-transform: uppercase;
    width: 100%;
}
.login .btn-login:hover, .registerBox .btn-register:hover{
    background-color: #00A4E4;
    color: #FFFFFF;
}*/
/* .login .form-control{
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
    color: #FFFFFF;
}
.login .form-control:hover{
    background-color: rgba(0,0,0,.16);
}
.login .form-control:focus{
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
    background-color: rgba(0,0,0,0.23);
    color: #FFFFFF;
} */
/* .login .box .form input[type="text"], .login .box .form input[type="password"] {
    border-radius: 3px;
    border: none;
    color: #333333;
    font-size: 16px;
    height: 46px;
    margin-bottom: 5px;
    padding: 13px 12px;
    width: 100%;
} */

.modal-bg{
  background: #e74c3c;
  color: #fff;
}


@media (max-width:400px){
    .login .modal-dialog{
        width: 100%;
    }
}

.big-login, .big-register{
    background-color: #00bbff;
    color: #FFFFFF;
    border-radius: 7px;
    border-width: 2px;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    padding: 16px 60px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.big-login:hover{
    background-color: #00A4E4;
    color: #FFFFFF;
}
.big-register{
    background-color: rgba(0,0,0,.0);
    color: #00bbff;
    border-color: #00bbff;
}
.big-register:hover{
    border-color: #00A4E4;
    color:  #00A4E4;
}

#sign-up img{
  max-width: 150px;
  margin: 25px auto;
}

/*Screen*/

#screen{
  background: url(../images/students.jpg) no-repeat center center;
  height: 100vh;
  background-size: cover;
  padding-top: 300px;
}

#screen h1{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0,0,0,0.1);
  padding: 15px;
}

#screen h1 strong{
  color: #e74c3c;
}

footer{
  padding: 30px 0 15px;
  text-align: center;
  background-color: #333;
  color: #fefefe;
}

/*HOme*/

#about{
      margin-top: -893px;
    background: #fff;
    position: relative;
    z-index: 10;
    padding-bottom: 75px;
}

.hidden{
  visibility: hidden;
}

/*.none{
  display: none;
}*/

.bmlogo{
  margin-top: 200px;
  margin-bottom: -125px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.demo1 .bg {
  width: 800px;
  height: 500px;
  margin: auto;
}

/*#content{
  margin-top: 30px;
}*/

#content .table-row .table-cell .internship_list_container {
    padding: 0 30px !important;
    border-left: 1px solid #fff !important;
}

#search_criteria_container {
  width: 250px !important;
    padding: 15px;
    border-left: 1px solid #fff;
}

#workpage{
      background: rgb(241,241,241);
}

#workpage .navbar-default{
  font-size: 18px;
}

.pager li {
    margin: 0 15px;
}

.pager input{
  background: #FF9A55;
}

#content .table-row .table-cell .internship_list_container .individual_internship hr {
    border-top: 1px solid #fff;
}

.individual_internship{
      background: #fff;
    padding: 0 15px;
    margin-bottom: 25px;
    box-shadow: 1px 1px 10px #777;
}

[class*=footer-widget-] {
    min-height: 1px;
}

.one-third {
    width: 31.2%;
}

.grid {
    /* margin-right: 3.2%;
    float: left; */
    display: inline;
}

#footer .widget {
    padding-bottom: 30px;
}

.widget {
    font-size: 15px;
    overflow: hidden;
}

.widget, .widget a {
    color: #777;
}

.widget_calendar>h3{
    margin-bottom: 1em;
}

.widget>h3 {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.widget_calendar #wp-calendar {
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#footer .widget_calendar caption, .s1 .widget_calendar caption {
        background: #e74c3c;
}

.widget_calendar caption {
    color: #fff;
    padding: 5px 10px;
}

#footer .widget_calendar thead {
    background: #f2f2f2;
}

.widget_calendar thead {
    background: #e2e2e2;
    -webkit-box-shadow: 0 1px 0 #ddd;
    box-shadow: inset 0 -1px 0 #ddd;
}

#footer .widget_calendar th{
    border-color: #f2f2f2;
}

.widget_calendar th {
    padding: 3px 0;
    text-align: center;
    border: 1px solid #e2e2e2;
}

.widget_calendar th {
    font-weight: 600;
}

.widget_calendar td{
    border-color: #f2f2f2;
}

.widget_calendar td, .widget_calendar th {
    padding: 3px 0;
    text-align: center;
    border: 1px solid #e2e2e2;
}

#footer .widget_calendar a, .s1 .widget_calendar a {
    color: #ff9a55;
}

/*search box*/

@media (max-width: 767px) {
    .visible-xs {
        display: inline-block !important;
    }
    .block {
        display: block !important;
        width: 100%;
        height: 1px !important;
    }
}
#back-to-bootsnipp {
    position: fixed;
    top: 10px; right: 10px;
}


.c-search > .form-control {
   border-radius: 0px;
   border-width: 0px;
   border-bottom-width: 1px;
   font-size: 1.3em;
   padding: 12px 12px;
   height: 44px;
   outline: none !important;
}
.c-search > .form-control:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none;
}
.c-search > .input-group-btn .btn {
   border-radius: 0px;
   border-width: 0px;
   border-left-width: 1px;
   border-bottom-width: 1px;
   height: 44px;
}


.c-list {
    padding: 0px;
    min-height: 44px;
}
.title {
    display: inline-block;
    font-size: 1.7em;
    font-weight: bold;
    padding: 5px 15px;
}
ul.c-controls {
    list-style: none;
    margin: 0px;
    min-height: 44px;
}

ul.c-controls li {
    margin-top: 8px;
    float: left;
}

ul.c-controls li a {
    font-size: 1.7em;
    padding: 11px 10px 6px;   
}
ul.c-controls li a i {
    min-width: 24px;
    text-align: center;
}

ul.c-controls li a:hover {
    background-color: rgba(51, 51, 51, 0.2);
}

.c-toggle {
    font-size: 1.7em;
}

.name {
    font-size: 1.7em;
    font-weight: 700;
}

.c-info {
    padding: 5px 10px;
    font-size: 1.25em;
}

.badge{
  margin: 0 7px 0;
}

.togglestatus{
  margin-left: 20px;
}

.more-options{
  padding-bottom: 50px;
}

.more-options a{
  color: #fff;
  margin: 0 25px;
}

#navigationTabs a{
 text-decoration: none;
 color: #FF9A55 !important;
}

#navigationTabs .max-width-container .navTabItem.active {
    border-bottom: none !important;
    color: #FF9A55 !important;
}

#contactpage {
  font-family: 'Lato', georgia;
  margin-top: 50px;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(236, 181, 62, 0.95);
  text-align: center;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

#contact-form {
  max-width: 90%;
  margin: 0 auto;
}

#contactpage label {
  font-weight: 400;
  cursor: pointer;
}

#contactpage textarea,
#contactpage input {
  border: none;
  outline: none;
  border-radius: 0;
  text-align: center;
  background: none;
  font-weight: 700;
  font-family: 'Lato', georgia;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  max-width: 90%;
  padding: 1rem;
  border: 2px dashed rgba(255, 255, 255, 0);
  box-sizing: border-box;
  cursor: text;
}

#contactpage textarea {
  text-align: left;
  /* overflow:hidden; */
  
  resize: none;
  width: 90%;
  border-color: rgba(255, 255, 255, 0)
}

#contactpage textarea:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px dashed rgba(255, 255, 255, 1);
}

#contactpage textarea:focus:required:valid {
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

#contactpage textarea:required:valid {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

#contactpage input {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}

#contactpage input:required,
#contactpage textarea:required {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}

#contactpage input:focus {
  border-bottom: 2px dashed rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.2);
}

#contactpage input:required:valid {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

#contactpage input:required:invalid {
  color: rgba(255, 255, 255, 0.5);
}

#contactpage ::-webkit-input-placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

#contactpage :-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

#contactpage ::-moz-placeholder {
  /* Firefox 19+ */
  
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

#contactpage :-ms-input-placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

.expanding {
  vertical-align: top;
}

.send-icn {
  fill: rgba(255, 255, 255, 1)
}

.send-icn:hover {
  fill: rgba(0, 0, 0, 1);
  cursor: pointer;
}

#contactpage button {
  background: none;
  border: none;
  outline: none;
  margin: 2vmax;
}

#contactpage button:hover small {
  opacity: 1;
}

small {
  display: block;
  opacity: 0;
}

.website {
  opacity: 1;
  font-size: 16px;
  color: white;
  position: relative;
  text-align: center;
  display: block;
  margin-top: 7%;
  
}

.website a {
  color: white;
}

/*Team Page*/

.team-section {
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .team-section {
    padding-bottom: 80px;
  }
}
@media (min-width: 992px) {
  .team-section {
    padding-bottom: 120px;
  }
}
@media (min-width: 1200px) {
  .team-section {
    padding-bottom: 150px;
  }
}
@media (min-width: 668px) and (max-width: 767px) {
  .team-carousel .team-item-info {
    padding: 90px 40px 0 40px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .team-carousel .team-item-info {
    padding: 50px 30px 0 30px;
  }
}
@media (min-width: 992px) {
  .team-carousel .team-item-info {
    padding: 40px 80px 0 80px;
  }
}
@media (min-width: 992px) {
  #team-carousel-3 .team-item-info {
    padding: 40px 20px 0 20px;
  }
  #team-carousel-3 .owl-item img {
    display: inline-block;
    width: auto;
    height: 350px;
    margin: 20px 0;
  }
}